.sliderContainer {
  display: flex;
  min-height: 922px;
  width: auto;
  padding-left: 110px;
  justify-content: center;
}

.dataContainer {
  height: 745px;
  width: 1290px;
  border: 1px solid grey;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.videoContainer {
  height: 745px;
  width: 1290px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  overflow: hidden;
}

.video {
  width: 100%;
  border-radius: 16px;
}

.textSection {
  display: grid;
  grid-template-columns: 30% 60%;
  padding: 30px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #202124;
}

.textContainer {
  padding-top: 12px;
  padding-left: 10px;
}

.subtext {
  font-size: 16px;
  color: #5f6368;
  margin-bottom: 15px;
}

.link {
  font-size: 16px;
  color: #1a73e8;
  text-decoration: none;
}
